@media(max-width:768px){
  .header {
    &__burger{
      display: block;
      width: 30px;
      height: 20px;
      position: relative;
      z-index: 3;
      margin-right: 10px;
      
      span{
        background-color: #000;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5){
          position: absolute;
          height: 2px;
          transition: all 0.3s ease 0s;
        }
        &:nth-child(1){
          top: 0;
          left: 0;
          width: 50%;
        }
        &:nth-child(2){
          top: 0;
          right: 0;
          width: 50%;
        }
        &:nth-child(3){
          left: 0;
          top: 9px;
          width: 100%;
        }
        &:nth-child(4){
          left: 0;
          bottom: 0;
          width: 50%;
        }
        &:nth-child(5){
          right: 0;
          bottom: 0;
          width: 50%;
        }
      }
      
      &.active {
        span{
          &:nth-child(1){
            top: 4px;
            left: 4px;
            transform: rotate(45deg);
          }
          &:nth-child(2){
            top: 5px;
            right: 3px;
            transform: rotate(-45deg);
          }
          &:nth-child(3){
            transform: scale(0);
          }
          &:nth-child(4){
            bottom: 4px;
            left: 2px;
            transform: rotate(-45deg);
          }
          &:nth-child(5){
            bottom: 4px;
            right: 1px;
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}