// Common style
body {
  // Scroll lock
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
	//Press footer
	> main {
		flex: 1 1 auto;
	}
	// Fix for slider
	> * {
		min-width: 0;
	}
}
.container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 15px;
}