//Підключення міксінів
@import "mixins";
//Шрифт за за замовчуванням=============================================================================
$fontFamily: "";
$fontSize: rem(14); // где 14(px) - размер шрифта по умолчанию из макета
//Ширина сторінки=======================================================================================
// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина макета
$maxWidth: 1920;
// Ширина контейнера (0 = немає обмеження)
$maxWidthContainer: 1170;
// Загальний відступ у контейнера
// (30 = по 15px зліва і справа, 0 = без відступа)
$containerPadding: 30;
// Ширина спрацювання першого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;
//Базові підключення=================================================================================
@import "nullStyle";
@import "vars";
@import "fonts";
@import "common";
//Підключення компонентів сторінки====================================================================
@import "./components/header";
//Підключення елементів сторінки======================================================================
@import "./components/burger";
@import "./components/selects";
@import "./components/modal";
@import "./components/radioButton";
@import "./components/checkbox";